table thead th a {
    text-decoration: none;
    color: inherit;
}
table thead th a:hover {
    color: inherit;
}

table thead th.sort {
    background-repeat: no-repeat;
    background-position: center left;
    padding: 10px 18px;
}

table thead th.sort-inactive {
    background-image: url("/images/sort_both.png");
}

table thead th.sort-asc {
    background-image: url("/images/sort_asc.png");
}

table thead th.sort-desc {
    background-image: url("/images/sort_desc.png");
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.post h1{
    font-size: 25px;
}